[2020-07-18 04:56] Swarnimashukla opened #1 "Design a logo for Rollcall"
**Design a logo for Rollcall**

Implement logo designs in different formats
* SVG
* PNG
* JPG
`Create favicons`

**Implementation**

Create designs and share screenshots in comment section
Create a folder named Resource and upload logo design .

**Procedure**

Claim this issue: Comment below that you want to work on this issue
Write relevant commit message
Create a PR

[2020-07-18 05:23] Swarnimashukla opened #2 "Design Landing page for website"
Task

Design a detailed  high fidelity landing page for website , add all necessary features for a product website .
References : [Link1](https://attendlab.com/) | [Link2](https://attendace-system2020.000webhostapp.com/)

**Implementation**

Create designs and share screenshots in comment section
Add your design in resource folder

**Procedure**

Claim this issue: Comment below that you want to wo

[2020-07-18 05:29] Swarnimashukla opened #3 "Add an open with gitpod button"
**Task**

If anyone has any issues in cloning/forking and contributing from their local machine, they can open up the code in gitpod.

**Implementation**

Add an open with gitpod badge/button in readme.md file

**Describe alternatives you've considered**

Gitpod eliminates the friction by providing prebuilt, ready-to-code dev environments with a single click.

[2020-07-18 05:45] Swarnimashukla opened #4 "Create wireframe for features page"
**Task**
Design a high fidelity mockup for features page including details

- All features provided by product

- Hardware / software used

- USP of project

**Implementation**

Create designs and share screenshots in comment section
Add your design in resource folder

**Procedure**

Claim this issue: Comment below that you want to work on this issue
Write relevant commit message
Create a PR

[2020-07-19 03:48] Swarnimashukla opened #5 "Create a wireframe for product demo page"
**Task**

Design a high fidelity mockup for product demo page  page including

- Image of product and functionality images

- USP of project

For now add video of product presentation later it could be updated with demo video .

**Implementation**

Create designs and share screenshots in comment section
Add your design in resource folder

**Procedure**

Claim this issue: Comment below that you wan

[2020-10-01 04:43] Swarnimashukla opened #6 "Implement add student to database feature"
**Task**

To add students in database . It must include
User name
Roll number
Parent's contact details

**Procedure**

1. Comment below that you would like to work on this issue
2. Write clean code
3. Make a pr in separate branch

Happy Coding

[2020-10-01 04:45] Swarnimashukla opened #7 "Implement a feature to record student faces"
**Task**

To implement face recording feature for model training and database creation.

**Procedure**

1. Comment below that you would like to work on this issue
2. Write clean code
3. Make a pr in separate branch

Happy Coding

[2020-10-01 04:46] Swarnimashukla opened #8 "Model training and status"
**Task**

Implement feature to train model and get status of model last trained

**Procedure**

1. Comment below that you would like to work on this issue
2. Write clean code
3. Make a pr in separate branch

Happy Coding

[2020-10-01 04:47] Swarnimashukla opened #9 "Create spreadsheet for all students"
**Task**

It must include name and roll number of students along with five columns showing time intervals of attendance marked

**Procedure**

1. Comment below that you would like to work on this issue
2. Write clean code
3. Make a pr in separate branch

Happy Coding

[2020-10-01 06:50] Nishant-Shukla commented on #1
I would like to work  on this issue @Swarnimashukla

[2020-10-01 06:58] Nishant-Shukla commented on #1
<img width="377" alt="Rollcall" src="https://user-images.githubusercontent.com/72122864/94777695-83e0ba00-03e1-11eb-8998-35e802cb1c0b.PNG">

Here is my solution

[2020-10-01 07:22] suyashgautam commented on #6
I want to work on this issue @Swarnimashukla

[2020-10-01 07:34] suyashgautam commented on #7
I want to work on this issue @Swarnimashukla

[2020-10-01 07:35] suyashgautam commented on #8
I want to work on this issue @Swarnimashukla

[2020-10-01 07:36] suyashgautam commented on #9
I want to work on this issue @Swarnimashukla

[2020-10-01 08:05] Swarnimashukla opened #14 "Create mysql database"
**Task**

Create a database with following columns

1. ID(Rollno.)
2. Name
3. Complete Rollno.
4. Person ID(Azure tag)
5. Mobile number(valid datatype - numerical)

Upload .db file

**Procedure**

Comment below that you would like to work on this issue
Write clean code
Make a pr in separate branch

Happy Coding

[2020-10-01 08:08] Swarnimashukla opened #15 "Code to send images to cloud"
**Task**

Send images of each student with tag (eg. USER10) to azure face API
**Procedure**

Comment below that you would like to work on this issue
Write clean code
Make a pr in separate branch

Happy Coding

[2020-10-01 08:12] Nishant-Shukla commented on #14
I would like to work on this issue @Swarnimashukla

[2020-10-01 08:14] Nishant-Shukla commented on #15
@Swarnimashukla   I would like to work on this issue

[2020-10-01 14:18] Swarnimashukla opened #19 "Create use case diagram for project"
Task

Make a clear use case diagram representing all important parts of project

Comment below that you would like to work on this issue
Write clean code
Make a pr in separate branch

Happy Coding

[2020-10-01 14:26] Nishant-Shukla commented on #19
Can you brief me about main components about idea ? @Swarnimashukla

[2020-10-01 14:39] Swarnimashukla commented on #19
@Nishant-Shukla  sure ,

Major components include students , teacher, government officials , database , enrolment, updation of records

[2020-10-05 12:13] Hridyanshu commented on #3
I want to work on this issue.

[2020-10-06 04:09] Swarnimashukla opened #23 "Fix Bug in greetings.yml file"
**Task**

Improve greetings.yml file with proper syntax

**Procedure**
Comment below if interested in this issue
Once assigned start working
Write proper commit message in PR

[2020-10-07 09:50] anshulhub commented on #1
![Capture](https://user-images.githubusercontent.com/67779730/95315829-a3c82000-08b0-11eb-8b51-72bacc48c0f7.JPG)
How about this.?

[2020-10-10 15:34] ananthalakshmiragi commented on #1
hi, if this is still open, can I still submit a design?

[2020-10-10 15:48] Swarnimashukla commented on #1
Sure, @ananthalakshmiragi  go for it

[2020-10-10 16:35] ananthalakshmiragi commented on #1
![AAMS](https://user-images.githubusercontent.com/17941997/95660307-988d2280-0b44-11eb-8e10-da95f4723bf2.jpg)

Added this. Also created a PR.

[2020-10-14 11:19] #19 closed

[2020-10-14 11:21] #3 closed

[2020-10-20 04:10] nish-d commented on #23
Hi Can I take this up please?

[2020-10-20 04:44] Swarnimashukla commented on #23
Yes @nish-d  go for it 👍

[2020-10-21 09:12] nish-d commented on #23
@Swarnimashukla Can you please review my PR. Happy to accomodate any more suggestions/ changes.

[2020-11-02 04:23] #23 closed

[2021-02-15 19:50] rishitbhojak commented on #1
Hey, if it is still open, I would like to contribute. Please assign this issue to me

[2021-02-21 05:50] vermatanu commented on #1
I would like to work on this. please assign it to me!

[2021-02-21 17:36] #6 closed

[2021-02-21 17:36] #7 closed

[2021-02-21 17:36] #8 closed

[2021-02-21 17:36] #9 closed

[2021-02-21 17:36] #14 closed

[2021-02-21 17:36] #15 closed

[2021-02-21 17:43] Swarnimashukla opened #28 "Create a Information architecture for website"
*Is your feature request related to a problem? Please describe*
We need information architecture to have a clarity about website and features it provide , IA is basically a user flow chart for website

*Describe the solution you'd like*
Make a flowchart/ IA for website
Look for product based websites to have clarity and idea about all features we could include to represent a product and design flo

[2021-02-21 17:46] Swarnimashukla opened #29 "Create a project admin and mentor section in readme file"
*Is your feature request related to a problem? Please describe.*
A section in the readme for project admin and mentors to recognize their hard work to grow this project.
there will be a photo (can get from GitHub) and ink their GitHub profile.

[2021-02-22 02:28] vermatanu commented on #28
I can work on this please assign this to me :)

[2021-02-22 14:06] ChitvanRamani22 commented on #1
I would like to work on this. please assign it to me!

[2021-02-23 10:45] IdealisticINTJ commented on #29
I would like to work on this. Please assign it to me. :)

[2021-02-23 10:47] IdealisticINTJ commented on #1
I would like to contribute. Please assign this issue to me.

[2021-02-24 09:23] mehak2323 commented on #1
Hi, I want to work on it, can you please assign this issue to me?

[2021-02-24 09:28] mehak2323 commented on #28
I would like to work on it, please assign the issue to me. Thanks!

[2021-02-24 14:44] mu593 commented on #4
please assign me these issue

[2021-02-24 17:22] Sapna2001 commented on #1
@Swarnimashukla is this issue open for all?

[2021-02-26 04:15] soumyavemuri commented on #29
Hello, I'd like to work on this under GSSOC. Please assign me to this task.

[2021-02-26 16:47] iamansoni opened #31 "Add requirements.txt"
requirements.txt must be added for the project, as it will make the development process easier, and it will ensure that whenever installed, users will have all the working dependencies.

[2021-03-01 05:38] chehak123 commented on #1
Hi, I want to work on it as a participant in GSSOC'21, can you please assign this issue to me?

[2021-03-01 05:39] chehak123 commented on #29
Hi, I want to work on it as a participant in GSSOC'21, can you please assign this issue to me?

[2021-03-01 16:58] Nidhideveloper commented on #28
I would like to contribute as a participant of GSSOC'21

[2021-03-01 17:00] Nidhideveloper commented on #1
I would like to contribute for it as a participant of GSSOC'21

[2021-03-02 06:28] Avnish5 commented on #4
Kindly assign this task to me.
I had very strong understanding about the UI designs..

[2021-03-02 06:29] Avnish5 commented on #2
Kindly give this task to me.
I can create the landing page for website....

[2021-03-02 18:10] Avnish5 commented on #5
Kindly assign this work to me.

[2021-03-03 08:04] maanpatel2492 commented on #5
I can work on this issue.Assign if possible.

[2021-03-03 13:42] manishaag7 commented on #29
I want to work on this issue as a GSSOC'21 participant.

[2021-03-03 13:43] manishaag7 commented on #28
I would like to work on it, can u assign to me?

[2021-03-04 05:12] abhishree07 commented on #1
I would like to contribute to this issue @Swarnimashukla

[2021-03-04 05:23] Aayush-hub commented on #31
@Swarnimashukla Can I work on issue under GSSoC21 label?

[2021-03-04 10:27] RiaKokate commented on #1
Hey @Swarnimashukla
I hope you are fine and doing well.
I have previous experience with logo design and would like to get assigned for this work under GSSOC'21. Can you please assign the following to me?

[2021-03-04 10:29] RiaKokate commented on #5
Hey @Swarnimashukla
I would like to take up this query. Could you please assign the following query to me?

[2021-03-06 04:12] achalesh27022003 commented on #29
I want to work on this issue under GSSoC program. Pls assign me this issue.

[2021-03-06 04:17] achalesh27022003 commented on #2
I want  to work on it. Pls assign me this issue under GSSoC

[2021-03-07 16:34] abhish3k-11 commented on #4
Can you please assign this task to me under the label of GSSOC'21. I'm a UI/UX designer and have worked on issues like this before.

[2021-03-07 18:48] Avnish5 commented on #2
Thanks for assigning me this task to me.This is going to be my first contribution in open source

[2021-03-07 18:51] RiaKokate commented on #1
Thanks mam for assigning the task to me.

On Mon, Mar 8, 2021, 00:12 SWARNIMA SHUKLA <notifications@github.com> wrote:

[2021-03-08 06:41] Akash20x opened #32 "Add issue templates"
I want to add issue templates for proposal, feature and documentation types so that there is proper way to create a new issue in your repo.

Please assign me this task as a part of GSSoC'21
and add necessary labels.

[2021-03-08 10:59] shubhnanda commented on #1
hey @Swarnimashukla
I would  like to contribute to the issue .
Please do assign me this task

[2021-03-08 15:27] sherin527 commented on #1
Hi, I would also want to contribute to this issue, could you assign me also this task.

[2021-03-08 17:07] subhangi2731 commented on #32
can you please assign this to me?

[2021-03-08 18:30] Polokghosh53 commented on #29
Can I ask, are the contributors namely the mentor section at present?

[2021-03-08 18:38] Sapna2001 commented on #1
![ROLLCALL](https://user-images.githubusercontent.com/56690856/110365778-748a2a80-806b-11eb-9fd0-2e39d6a98c7b.png)

Added this to the resources folder and have made a PR also.

[2021-03-09 08:47] jainshubham46 opened #35 "gsSoc"
I would like to work on it, please assign the issue to me. Thanks!

[2021-03-09 12:40] abhish3k-11 commented on #4
@Swarnimashukla please give your input on this wireframe of features page. Let me know if you'd like to suggest some changes. If all is good then I'll make a PR after your reply.

![Web 1920 – 1@2x](https://user-images.githubusercontent.com/67673898/110471804-98e51600-8102-11eb-8c42-95b6403cc05b.png)

[2021-03-09 14:21] Ayushisood commented on #1
Hii@Swarnimashukla
I would like to degin a logo for RollColl
and contribute to this task..

[2021-03-09 14:29] Ayushisood commented on #2
Hii @Swarnimashukla
I would like to design a landing page for this website
Kindly assign the task to me
I am selected as GSSOC'21 participant

[2021-03-09 14:47] Sloth-Panda opened #37 "pr template"
would like to add a pull request template that will describe all about the made pr

[2021-03-09 15:51] anushree71199 commented on #28
Can I make a contribution to this issue under GSSoc '21?

[2021-03-09 15:57] anushree71199 commented on #1
I would like to design a logo for your issue under Gssoc '21, can you assign this issue to me?

[2021-03-09 16:03] deeptea22 commented on #1
Hi ! Could you please assign this to me as part of GSSOC'21. Have already started working on it!

[2021-03-09 18:01] RiaKokate commented on #1
Mam, I'm a first year student and a bit confused about the submission of
tasks for GSSOC'21.
As one of my task is logo design for your project,I'm ready with my logo
designs and wanting to upload the following. Can you guide me for this?

On Mon, Mar 8, 2021 at 12:12 AM SWARNIMA SHUKLA <notifications@github.com>
wrote:

[2021-03-09 18:06] abhishree07 commented on #1
![Rollcall](https://user-images.githubusercontent.com/68280108/110516790-0ce9e300-8130-11eb-9e78-d89d9023a7f9.png)
Thank you for assigning this task to me. I have attached my logo's screenshot and have also sent a PR.

[2021-03-09 18:10] siddharth-143 commented on #1
Hi, I want to work on it, can you please assign this issue to me?

[2021-03-09 19:24] mohdjameel2412 commented on #29
/please assign it to me under gssoc21

[2021-03-09 19:25] mohdjameel2412 commented on #28
please assign it to me under gssoc21

[2021-03-09 19:28] mohdjameel2412 commented on #2
please assign it to me under gssoc21

[2021-03-10 03:02] vermatanu commented on #1
@RiaKokate you need to fork this repository, then add the logo image in the resource file(in the forked repo). after than when you go to the master(original) repository, you might encounter the option of compare changes and create pull request. you have to create a pull request mentioning what you have added/what changes you have made.
take a look at this: https://try.github.io/
hope you find this

[2021-03-10 04:03] tanishq-arya commented on #5
I would like to work on this issue as a  GSSOC'21 participant. Please assign me this issue.

[2021-03-10 05:02] janvi01 commented on #1
I want to work on this issue, can it be assign to me?

[2021-03-10 06:08] kcoder63 opened #40 "add CODE_OF_CONDUCT.md"
add code of conduct to maintain the contribution guidelines

[2021-03-10 06:10] kcoder63 opened #41 "add CONTRIBUTING.md"
add contributing.md to give a brief about your project and some details to welcome new contributors

[2021-03-10 10:01] Astha-glitch commented on #1
I would like to work on this issue as a participant of Gssoc 21

[2021-03-10 10:11] RiaKokate commented on #1
Thanks you So much

On Wed, Mar 10, 2021, 08:33 vermatanu <notifications@github.com> wrote:

[2021-03-10 10:29] Swarnimashukla commented on #1
Hi all,  Please go through [Discussions](https://github.com/Swarnimashukla/Automatic-attendance-management-system/discussions/33)  , it will clear your doubts regarding issues and how you can work on it.

You can definitely introduce yourself there and let me know what made you interested in this project 🤩

I would like to mention  **anyone can contribute to issues labeled " Open_for _all"  withou

[2021-03-10 11:46] Tushar1337 commented on #40
added it :)

[2021-03-10 11:57] Avnish5 commented on #2
@Swarnimashukla i had make the landing page.Kindly tell me about what product  or product feature you want add in the landing page.

Kindly give some info about product..

[2021-03-10 13:24] midhun-b-m commented on #2
Hello @Swarnimashukla,
I would like to work on the landing page design.
I am a participant of GSSoC'21.

[2021-03-10 13:27] ShrutiKhatri826 commented on #1
Hi @Swarnimashukla
I am a GSSOC'21 participant. I would like to take up this issue. Can you please assign it to me? Hope to hear soon from you!

[2021-03-10 15:10] Asmita-si commented on #28
I want to work on this issue. Can you please assign it to me?

[2021-03-10 15:56] abhish3k-11 commented on #4
@Swarnimashukla Can you guide as  to why PR test failed?

[2021-03-10 17:29] khareyash05 commented on #41
Hi I would like to work on this issue as a part of GSSOC'21

[2021-03-10 17:30] khareyash05 commented on #41
May I know the level of the issue under GSSOC'21

[2021-03-10 18:45] gritika18 commented on #29
I'm a GSSOC particpant and i would love to work on this issue. Could you please assign it to me?

[2021-03-10 18:45] sudo-nick16 commented on #31
I'd like to work on this issue under GSSoC'21. I deployed my first Django web-app today and dealt with the creation of the requirements.txt file in the process. I'd love to put that knowledge into use. Also, I'm a newcomer to open-source, this could be the issue that I work on. Hope to hear from you soon.

[2021-03-11 05:22] DarthSalad commented on #1
I would like to work on this issue.

[2021-03-11 05:46] Tushar1337 commented on #41
can you assign this to me so that I can make a pull request?

[2021-03-11 08:23] pranavvdesai commented on #29
im a GSSOC participant and i would like to work on this.

[2021-03-11 10:18] i-aayush711 commented on #40
Hello!
Can you have multiple assignees for this? I would like to contribute to this.

[2021-03-11 11:58] SpecTEviL commented on #2
Hey, @Swarnimashukla Vishal Patil here, I would love to contribute to this issue along with @Avnish5 under GSSoC'21. As this is a level 2 issue two people can finish this fast. You can view my previous work from https://spectevil.github.io and decide.
Thanks!

[2021-03-11 15:05] pallavidhere23 commented on #1
I am interested to work on this issue can u please assign me this under GSSOC'2021

[2021-03-11 15:52] Dhanush2612 opened #49 "Face Recognition"
Python programs to capture a user's face and generate dataset. Then detect and recognize the user's face by using opencv.

[2021-03-11 16:53] sudo-nick16 commented on #40
Hi, I'd like to contribute to this under GSSoC'21. Can you please assign it to me. I'm new to open-source and can't wait to make my first PR. Hope to hear from you soon.

[2021-03-12 06:38] flyingsonu122 opened #53 "Images should be placed in a single folder"
All images should be placed in a single folder so that it is easier to work on the project

[2021-03-12 06:41] flyingsonu122 commented on #53
@Swarnimashukla Assign this to me, so that I can fix it

[2021-03-12 06:42] flyingsonu122 opened #54 "Resources branch is of no use"
Delete that resources branch, because there is no use of it as all the codes are also present in the default branch

[2021-03-12 10:01] Rayman-Sodhi commented on #1
Hi I would also like to work on this issue under GSSOC'21

[2021-03-12 11:29] rohank2502 opened #55 "Add Contribution section which keeps updating automatically !!"
I will like to add a feature in read me which will keep updated the list of contributors with their avatar . This is an automated feature keep on updating automatically !

[2021-03-12 11:32] rohank2502 opened #56 "Will like to add the profile pic of project admin in the read me"
I will like to add the profile picture in place of just name this will help us in making impression over the user who read the read me file !!

[2021-03-12 11:33] rohank2502 opened #57 "Will like to update techstack ( add logo)"
I will like to update the techstack setion rather than just writing name we can add their logo this will make our read me more attractive !!

[2021-03-12 15:36] garvitraj commented on #57
@Swarnimashukla  and @suyashgautam i can give a logo for our project as i too work as a graphic designer and UI/UX. so it would be great if you assign this task to me as a GSSOC21

[2021-03-12 15:45] sejalvasan commented on #28
I also want to work on this issue. Can i ?

[2021-03-12 17:37] Hamza3226 commented on #40
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:37] Hamza3226 commented on #37
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:37] Hamza3226 commented on #32
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:37] Hamza3226 commented on #31
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:37] Hamza3226 commented on #29
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:37] Hamza3226 commented on #28
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:38] Hamza3226 commented on #5
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:38] Hamza3226 commented on #2
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:39] Hamza3226 commented on #1
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:51] Swarnimashukla commented on #54
Hey @flyingsonu122  we planned to keep all images, posters, logo designs in resources , can you check if we can still do the same ?

[2021-03-12 17:53] Swarnimashukla commented on #57
@garvitraj  logo designing for RollCall is a separate issue you can contribute there, its open_for_all

[2021-03-12 17:54] flyingsonu122 commented on #54
I am talking about the resources **branch** not folder @Swarnimashukla

[2021-03-12 17:54] Swarnimashukla commented on #55
@rohank2502  you can go ahead with this task !!

[2021-03-12 17:59] #35 closed

[2021-03-12 18:06] flyingsonu122 opened #59 "No proper name of files"
![image](https://user-images.githubusercontent.com/51280276/110979842-25a20500-838b-11eb-8b26-e8dfeba1a0cc.png)

**issues**

![image](https://user-images.githubusercontent.com/51280276/110979994-5d10b180-838b-11eb-929a-bc0cdb56b2c1.png)

naming conventions should be followed

[2021-03-12 18:21] flyingsonu122 commented on #53
@Swarnimashukla I need to edit README.md for linking images from the folder

[2021-03-12 18:32] flyingsonu122 commented on #54
@Swarnimashukla you first merge #60 after that, we will give instruction to the contributors in the README.md to create PR in the resource branch

[2021-03-12 18:45] garvitraj commented on #57
@Swarnimashukla thanx for it will definitely try to give my best.

[2021-03-13 03:48] achalesh27022003 commented on #29
Guys I am working on this issue. Will send a PR in day or two.

[2021-03-13 07:42] achalesh27022003 commented on #29
#67

[2021-03-13 09:13] rk05-lenavo commented on #49
I'm the Participant of GSSOC'21. Please assign me this issue under GSSOC'21.I would love to work on this.

[2021-03-13 09:21] AasthaRS commented on #1
@Swarnimashukla I want to work on this issue. Will try my best to give you a simple yet meaningful logo. Please assign this issue to me.

[2021-03-13 09:42] Dimple115 commented on #56
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:43] Dimple115 commented on #53
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 12:31] flyingsonu122 commented on #53
Already assigned to me and I have also created a PR for the same #60 @Swarnimashukla

[2021-03-13 13:31] Pallavi-02 commented on #2
Hey...i'm GSSOC'21 participant. Please assign me this issue.I would love to contribute in this project

[2021-03-13 13:38] Pallavi-02 commented on #1
I'm the Participant of GSSOC'21. Please assign me this issue.I would like to contribute to this project

[2021-03-13 14:16] garvitraj commented on #57
@Swarnimashukla i m sone with the logo should i make a pull request

[2021-03-13 14:28] Swarnimashukla commented on #4
@abhish3k-11  can we refine the wireframe a little , you need not to worry about the color, try creating a basic wireframes, you can even use Balsamiq tool for that or whatever tool is convenient to you. I would want you to work on minor details like what all elements will be there in navbar? what's present in the footer section and similarly for body , in features page we want to show hardware, s

[2021-03-13 15:17] Swarnimashukla commented on #1
Hi all, we plan to close this issue by 15th March, Monday EOD . Those who intend to make a pr for this issue can do so by deadline.  Will share feedbacks and improvements for those who created PR's soon .

[2021-03-13 15:27] Simar05519 commented on #56
I want to work on this issue. Please assign to me.

[2021-03-13 15:42] #29 closed

[2021-03-13 16:00] bhubesh757 commented on #56
#29  this appears to be a duplicate of #29 . So, I am going to close this issue . @Simar05519  @rohank2502  @Dimple115 Feel free to contribute to other issues or create new issues

[2021-03-13 16:23] #57 closed

[2021-03-13 16:23] #55 closed

[2021-03-13 16:43] #56 closed

[2021-03-13 17:22] Swarnimashukla commented on #2
![screencapture-file-C-Users-swarn-Desktop-Not-so-important-RollCall-master-1-RollCall-master-RollCall-html-2021-03-13-22_48_41](https://user-images.githubusercontent.com/30214391/111038376-8d6d5400-844e-11eb-817a-3da5a8056673.png)

@Avnish5  you can refer this we are looking for something in these lines

[2021-03-14 06:31] ainy-123 commented on #1
i'm a participant of GSSOC'21.I would like to contribute to this issue,Please assign it to me @Swarnimashukla .

[2021-03-14 07:51] kanishkaa24 commented on #4
Hello Mam. Can I work on this issue as a GSSOC participant?

[2021-03-14 07:51] kanishkaa24 commented on #2
Hello Mam. Can I work on this issue as a GSSOC participant?

[2021-03-14 07:51] kanishkaa24 commented on #1
Hello Mam. Can I work on this issue as a GSSOC participant?

[2021-03-14 08:01] rajeshpanjiyar commented on #1
I am a participant in GSSoC'21 and I want to work on this. As it is mentioned with open for all tag so I will be generating pull request as I complete.

[2021-03-14 08:50] garvitraj commented on #2
@Swarnimashukla pls assign this issue to me. will try to make a beautiful landing page

[2021-03-14 10:35] rajeshpanjiyar commented on #1
Here is the logo I am able to design. For more transformation please do inform me.
![image](https://user-images.githubusercontent.com/78999467/111065318-2482ec00-84e1-11eb-8f4c-c32134e8fb91.png)

[2021-03-14 12:35] garvitraj commented on #57
I have done with the logo i know i took more time but here its final
we can play with the colour in the logo as per the theme of our website and app. Logo pdf is attached below pls have a look @Swarnimashukla and @rohank2502
[Roll Call.pdf](https://github.com/Swarnimashukla/Automatic-attendance-management-system/files/6136671/Roll.Call.pdf)

[2021-03-14 12:48] bhubesh757 commented on #57
@garvitraj just add this under the issue #1

[2021-03-14 15:45] Swarnimashukla commented on #28
Hi all since this issue was assigned for a week and no response there so I have assigned it to @anushree71199

We will re-assign after 3 days  if there is no response, also please share IA in discussion section before making a pr so if there is any change it could be done with minimal efforts

[2021-03-14 15:48] Swarnimashukla commented on #4
We ( @bhubesh757 @SKAUL05 @suyashgautam ) will re-assign after 3 days if there is no response try creating a simple design first so we could see the progress, also please share design in discussion section before making a pr so if there is any change it could be done with minimal efforts

[2021-03-14 15:51] Swarnimashukla commented on #5
We ( @bhubesh757 @SKAUL05 @suyashgautam ) will re-assign after 3 days if there is no response, also please share design in discussion section before making a pr so if there is any change it could be done with minimal efforts

[2021-03-14 15:54] Swarnimashukla commented on #2
@SpecTEviL  you can make a separate pr as well once done , @Avnish5  could you please share your work so we could see the progress

[2021-03-14 17:29] garvitraj commented on #2
@Swarnimashukla can i start with the issue of designing the landing page? Will give best asap

[2021-03-14 17:33] Avnish5 commented on #2
Mam tomorrow i will make the pr and finish this work finally by tomorrow.

[2021-03-14 17:54] garvitraj commented on #1
@Swarnimashukla as per ur suggestion on the last one i tried to have 2 to 3 variation i m uploading the file below pls suggest any further change
Thanks
![Roll Call](https://user-images.githubusercontent.com/62978449/111078603-52d1ed00-851c-11eb-94b1-51a2e6b7de40.png)
![Roll Call (1)](https://user-images.githubusercontent.com/62978449/111078606-549bb080-851c-11eb-9f89-a2ea72f7504b.png)
![Roll Call

[2021-03-14 19:21] harshita2319 commented on #1
![IMG_20210315_004356](https://user-images.githubusercontent.com/60272753/111081277-86b30f80-8528-11eb-8e15-e4c0531c1a75.jpg)
![rollcall (2)](https://user-images.githubusercontent.com/60272753/111081280-89ae0000-8528-11eb-81ff-9844d41bdaae.png)
Have attached two files.

[2021-03-14 20:16] AnkushSinghGandhi commented on #1
![ROLLCALL](https://user-images.githubusercontent.com/55637484/111082790-1c05d200-8530-11eb-8f1e-ae9e4687077b.png)
I just made a logo for rollcall also created the pr #85

[2021-03-15 02:57] abhish3k-11 commented on #4
@Swarnimashukla okay, I'll do the changes asap. If need arise I'll redesign the wireframe completely.
@kanishkaa24 can you share your discord tag and id so that we can discuss and do the required changes. It will be a waste of time if we both came up with different designs.

[2021-03-15 03:06] bhubesh757 commented on #53
@flyingsonu122 By This week Admin will Add Your PR , Be calm , You will get your points asap

[2021-03-15 04:37] SpecTEviL commented on #2
Sure will do that @Swarnimashukla!

[2021-03-15 08:34] Avnish5 commented on #2
@Swarnimashukla Mam i have make the PR request for the landing page.
Kindly check and merge it.

[2021-03-15 11:13] SpecTEviL commented on #2
Hey, @Swarnimashukla just wanted to let you know to please wait for me also to showcase my work as I've started work on this issue. Please don't close this issue, just give me one day i.e. tomorrow I'll update you regarding my design.
Thanks!

[2021-03-15 14:06] akankshaaa-08 commented on #4
@Swarnimashukla Can I have this issue assigned to me?

[2021-03-15 15:27] rajeshpanjiyar opened #88 "Adding CONTRIBUTORS.md file"
**Hi,** I would like to add a contributors file to add the **name and GitHub handle** of respected contributors.
- I am a participant under GSSoC'21

[2021-03-15 16:09] kanishkaa24 commented on #4
![ROLLCALL](https://user-images.githubusercontent.com/71253790/111184297-d6e8ab00-85d6-11eb-9924-5d47c3d2af14.png)
@Swarnimashukla Mam I have prepared have the mockup. If you like the design, I can continue on this or change the pattern.

[2021-03-15 16:55] Swarnimashukla commented on #1
@garvitraj  it looks nice 👍 share all three images with proper naming as pr

For all,
Please ensure that pr's made are not directly for master branch rather a separate branch and designs, logos need to be added within a specific folder, participant can name the design file as

Example : "Logo_Design _Participantname"
                 "Landing_Page_Wireframe_Participantname"

Try to go through foll

[2021-03-15 16:57] Swarnimashukla commented on #1
Please make the pr

[2021-03-15 17:05] Swarnimashukla commented on #2
@SpecTEviL  sure you can take your time just inform us with your progress

[2021-03-15 17:08] Swarnimashukla commented on #4
![s2](https://user-images.githubusercontent.com/30214391/111192416-069bb100-85df-11eb-8feb-326e1494dedc.PNG)

Alright guys giving you an example this is what a wireframe looks like , very simple no image no color , but just provides enough info on how and where to place a particular element

[2021-03-15 17:12] Swarnimashukla commented on #2
![Header+top page](https://user-images.githubusercontent.com/30214391/111192865-8e81bb00-85df-11eb-9b9d-555f378c31fd.png)

I would like to see designs of this quality at least you don't need to use image,  color anything just show what info needs to be presented where , that's what we mean by a wireframe

[2021-03-15 17:13] Avnish5 commented on #59
@Swarnimashukla Kindly assign this task to me under girlscript soc 2021.

[2021-03-15 17:13] Swarnimashukla commented on #5
#2   refer to example given in comment section of this issue

[2021-03-15 17:43] kanishkaa24 commented on #4
![Copy of ROLLCALL (1)](https://user-images.githubusercontent.com/71253790/111197055-0356f400-85e4-11eb-9c40-7369a6b4b634.png)
![Copy of ROLLCALL](https://user-images.githubusercontent.com/71253790/111197049-018d3080-85e4-11eb-8d92-3ef28ced6714.png)

[2021-03-15 18:13] amritakesh commented on #40
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 18:58] #53 closed

[2021-03-15 19:07] #31 closed

[2021-03-15 19:19] #54 closed

[2021-03-15 19:19] #59 closed

[2021-03-15 19:20] #41 closed

[2021-03-15 19:20] #88 closed

[2021-03-15 19:22] Swarnimashukla commented on #49
@Dhanush2612  this has been already implemented, face recognition done by Microsoft Azure's Face API here

[2021-03-15 19:22] #49 closed

[2021-03-15 20:00] saswatsam786 commented on #2
Mam, I would like to works on this issue. Please assign me this.
I will try to submit this in a minimum of 10 days

[2021-03-15 21:11] harshita2319 commented on #1
Done, pr#90.

[2021-03-16 03:54] SpecTEviL commented on #2
Yes @Swarnimashukla, the work is 80% done. Just some final touches are to be made. I'll update you with the first version of my design by 4 pm today. Also as it was urgent so I haven't made any wireframe for the design.
Thanks!

[2021-03-16 05:05] garvitraj commented on #2
@Swarnimashukla please assign this issue to me so that I can start with the wireframe, get it reviewed, and then proceed further with the design.
Thans

[2021-03-16 05:06] garvitraj commented on #5
@Swarnimashukla  please assign this issue to me so that I can start with the wireframe, get it reviewed, and then proceed further with the design.
Thanks

[2021-03-16 05:11] maanpatel2492 commented on #5
I have shares pdf of rough wireframe in the discussion section.

[2021-03-16 07:05] Upasana1216 commented on #40
I would love to contribute to this issue. Please assign this to me

[2021-03-16 10:45] SpecTEviL commented on #2
Hey, @Swarnimashukla I tried this. You can give your feedback and any suggestions are most welcomed. I'm still trying to add some vector arts which will enhance the UI. For now, this is the first version.
Thank You!

1. When the sidebar is open:
![Rollcall Landing page 1](https://user-images.githubusercontent.com/62737267/111296334-5d9e9600-8672-11eb-9fa2-71e123509a47.png)

2. When the sidebar is

[2021-03-16 11:12] manasvvi1 commented on #1
Hey i want to work on the design. Can you please assign it to me?

[2021-03-16 17:36] Swarnimashukla commented on #2
@SpecTEviL  this looks fine, can we separate testimonials and signup form because testimonials should be visible properly and keep it simple only no need of vector art as of now, we still need to decide on color palette of website that's why we needed wireframes only so focus on making User experience better, how quickly user could find relevant information

[2021-03-16 18:16] madmax-07 commented on #40
Hi ,I am a GSSOC participant .I am new to open source and I interested to work on this project

[2021-03-17 04:19] SpecTEviL commented on #2
Ya sure will work on this @Swarnimashukla!
Thank you for your feedback!

[2021-03-17 08:25] Swarnimashukla commented on #4
@kanishkaa24  go for a pr, make sure you follow all the guidelines, (can be found on discord channel rollcall)

[2021-03-18 03:30] simarjeet30 commented on #40
Hello!
Can you have multiple assignees for this?
I would love to contribute to this issue. Please assign this to me

[2021-03-18 06:24] Avnish5 commented on #2
![SaaS Landing Page Wireframe - SaaS Landing Page Wireframe · Moqups - Google Chrome 18-03-2021 11_49_21 (2)](https://user-images.githubusercontent.com/68527921/111582252-952b5080-87e0-11eb-8c41-633849ac1bdc.png)
![SaaS Landing Page Wireframe - SaaS Landing Page Wireframe · Moqups - Google Chrome 18-03-2021 11_49_41 (2)](https://user-images.githubusercontent.com/68527921/111582255-965c7d80-87e0-11

[2021-03-18 06:31] srishtij2000 commented on #5
Can I work on this issue?

[2021-03-18 06:36] abhish3k-11 commented on #4
@Swarnimashukla  can you check this one out please. It fulfills every criteria mentioned.
![Web 1920 – 1](https://user-images.githubusercontent.com/67673898/111583396-59918600-87e2-11eb-9194-63f21dc464d2.png)

[2021-03-18 08:09] Swarnimashukla commented on #2
@Avnish5  this looks nice , I am not sure if we need pricing as of now but we can keep it. You can go for pr, just make sure you follow all guidelines as given on discord channel (rollcall)

[2021-03-18 08:12] Avnish5 commented on #2
@Swarnimashukla  okk mam thanku i will make pr now.

[2021-03-18 08:47] Avnish5 commented on #2
@Swarnimashukla Mam i have created the Pull request.
Kindly check and merge it....

[2021-03-18 17:31] #37 closed

[2021-03-18 17:41] Swarnimashukla commented on #4
@abhish3k-11  go for pr 👍

[2021-03-18 17:44] mohammedjameel24 commented on #28
Please assign it to @mohammedjameel24

Kindly assign this issue to the same because i registered for gssoc thorough that account
Apologize for confusions

[2021-03-18 17:45] Swarnimashukla commented on #2
@Avnish5  can you recheck , i can't find your pr

[2021-03-18 18:29] Avnish5 commented on #2
@Swarnimashukla Sorry mam there was some technical issue.

Kindly now check it.

[2021-03-18 18:37] Asmita-si commented on #28
@Swarnimashukla  how to contact the mentors through Discord?

[2021-03-18 21:06] Avnish5 commented on #28
Kindly assign me thus issue under GSSOC 2021

[2021-03-18 21:07] Avnish5 commented on #1
Kindly assign this task to me under GSSOC 2021.

[2021-03-18 21:08] Avnish5 commented on #5
Kindly assign me this task under GSSOC 2021.

[2021-03-19 02:05] bhubesh757 commented on #28
@Asmita-si You can Mention need Help in Discord !, So we Can help you on that articular issue

[2021-03-19 10:46] Swarnimashukla commented on #28
Just to give you all a little more reference :

we are supposed to create a flowchart which represent how user will move from one screen to another, suppose home page has 4 sections then when user click on any section it will have subsections, you can refer to links i mentioned on issue description to create one generic IA, since we have few submissions for wireframe of different page so you can c

[2021-03-19 10:59] Avnish5 commented on #2
anybody can please tell me how to squash the commits.

[2021-03-19 11:07] kanishkaa24 commented on #2
git rebase HEAD~(number of commits)
git add .
git commit ....

[2021-03-19 12:27] Avnish5 commented on #2
@Swarnimashukla  Kindly check and merge it mam

[2021-03-19 12:27] Avnish5 commented on #2
@kanishkaa24 Again very special thanks to you for your help....

[2021-03-19 12:45] Avnish5 commented on #2
@Swarnimashukla Thanks for your guidance and support mam.
This is my first  contribution in open source.
And i really liked the way the open source source community work.

Again Thanku very much...

[2021-03-20 04:37] #32 closed

[2021-03-20 05:58] khusheekapoor commented on #40
Hello! I am participant in GSSoC'21. I am really intrigued by this issue and would love to work on it. Would be highly obliged if you could assign this to me. Thanks!

[2021-03-20 13:34] SpecTEviL commented on #2
Great Job @Avnish5. Keep up the good work ;-)

[2021-03-20 14:36] Avnish5 commented on #2
Thanks brother...

[2021-03-20 17:30] Swarnimashukla opened #107 "Discussion on final features and color palette for RollCall"
Hey all,

Now since we have wireframes  for different pages, logo designs, I would want to discuss on Final features and Color Palette we should be using while coding the website.

Provide your suggestions in following manner:

1. Header ( sections that needs to be included e.g. Login/Signup button , About Us etc.)
2. Body (Main page features, you can divided it into sub-sections, as we do by crea

[2021-03-20 17:37] Swarnimashukla opened #108 "Add FAQs section for GSSoC'21"
As this project is shortlisted to accept contributions under GSSoC, we are supposed to include a dedicated FAQ section for GSSoC in README.md after Contribution Guidelines

Refer to [FAQs section ](https://gssoc.girlscript.tech/FAQs.html)

[2021-03-20 18:59] shefali12-ab opened #109 "Creating a contact Us and About us button ."
Hey,
I am one of pariticipant of GSSOC'21, I would like to contribute by creating a contact US and About Us button and About us button will redirect to a page which contains all the information related to this project and how it helps goverment.
looking forward for your reply
Thank you.

[2021-03-20 20:57] Jagannath8 commented on #1
I would like to work on this issue @Swarnimashukla . Please assign it to me.

[2021-03-21 05:48] iamansoni commented on #108
I would like to work on this task!
You can assign it to me!

[2021-03-21 07:11] Swarnimashukla commented on #109
@shefali12-ab  where do you plan to add these buttons exactly ?

[2021-03-21 08:48] ShambhaviSharma0110 opened #110 "Adding a homepage or an index page that has a navbar and other relevant details"
I would like to add a homepage to this project which has a navbar, footer, and other such elements that might be relevant

[2021-03-21 11:30] ANSHIKA1806 commented on #110
@Swarnimashukla @suyashgautam @bhubesh757

Please assign this task to me , I am good in this task , I had done this type of task earlier . I would love to contribute in this project. Homepage is the most important page of a website , it gives all over the idea of the website content. It's help to navigate throughout the website.

![home2](https://user-images.githubusercontent.com/71966377/11190300

[2021-03-21 12:25] shefali12-ab commented on #109
I have cloned this repository , I didn't find index.html file in that folder. I want to add that contact Us button on top right corner of page. since the website is not designed yet I think so, you can tell me where to place it .and if some one is working on issue for creating the website i will collobrate with them.

[2021-03-21 14:11] Dhriti-Roy commented on #1
Hey @Swarnimashukla , is this issue still open...I would like to work on it. Kindly assign it to me.

[2021-03-21 15:02] #1 closed

[2021-03-21 17:51] #108 closed

[2021-03-22 08:43] AasthaCodex commented on #107
hey cab you please assign this to me? i would like to give my suggestions.

[2021-03-22 13:08] deeptea22 commented on #107
@Swarnimashukla I would like to provide my suggestions on this. Where do i submit this?

[2021-03-22 14:33] Swarnimashukla commented on #107
@deeptea22 @AasthaCodex
 please share your suggestions here only in comments

[2021-03-22 16:23] deeptea22 commented on #107
Header - Logo, Website Name(Home Page), Search Bar, About Us, Contact Us, Login/Signup
Body   - Video/Photo Gallery, Features, Benefits, Achievements, Pricing, Testimonials
Footer - Copyright, Social Media Links, T&C

Primary Colour : #CFFE5
![image](https://user-images.githubusercontent.com/67323371/112022915-bc737c00-8b58-11eb-8764-37c408370ca9.png)

Secondary Colour: #FFE8DA
![image](https://us

[2021-03-22 18:37] Swarnimashukla opened #117 "Responsive navbar for RollCall"
Check for issue #107  and add elements accordingly.

 In mobile view, navbar should toggle on button click and vary it's size according to screen size in desktop as well as mobile view.

Tech Stack : MERN Stack

[2021-03-22 18:40] Swarnimashukla opened #118 "Footer for RollCall"
Check for issue #107 , wireframes and add elements accordingly.

Tech Stack : MERN Stack

[2021-03-22 18:46] Swarnimashukla opened #119 "UI Design for Landing Page"
Create a final UI Design including elements present in wireframes(check resource branch to find wireframe designs) use color palette from #107  and font style

[2021-03-22 18:48] Swarnimashukla opened #120 "Code for Landing Page"
Check for issue #107  and add elements accordingly.

 In this particular issue you are supposed to code body of landing page check for the wireframes in resource branch

Tech Stack : MERN Stack

[2021-03-22 18:50] Swarnimashukla opened #121 "UI design for features page"
Create a final UI Design including elements present in wireframes(check resource branch to find wireframe designs) use color palette from #107 and font style

[2021-03-22 18:51] #110 closed

[2021-03-22 18:52] #109 closed

[2021-03-22 18:53] Swarnimashukla opened #122 "Code for features page"
Check for issue #107 and add elements accordingly.

In this particular issue you are supposed to code feature page(main content) check for the wireframes in resource branch

Tech Stack : MERN Stack

[2021-03-23 04:17] anubhav201241 opened #123 "Face and Eye Detection"
Hi, my name is Anubhav and I'm a Gssoc'21 Participant and I want to contribute Face and Eye Detection using an open cv in
Face-Database folder, I want to add my code to it

@Swarnimashukla please assign this task to me :)

[2021-03-23 05:19] Priyanshu078 commented on #117
May I wark on this issue I am a GSSOC participant

[2021-03-23 05:29] deeptea22 commented on #121
@Swarnimashukla Hey! I would like to work on this issue. Please assign this to me as a part of GSSoC'21. Thanks :)

[2021-03-23 05:47] anubhav201241 commented on #123
This is not a bug, I only want to add the face and eye detection file and readme file in the Face-database Folder as it is empty so that's why I'm asking.

[2021-03-23 05:48] anubhav201241 commented on #123
Thank you mam for assigning me this :)

[2021-03-23 05:48] Swarnimashukla commented on #123
@anubhav201241  do create a pr in separate branch once you are done

[2021-03-23 05:49] anubhav201241 commented on #123
Ok mam, Thank you mam :)

[2021-03-23 06:11] Swarnimashukla commented on #107
![Group 1](https://user-images.githubusercontent.com/30214391/112101447-aa332580-8bcc-11eb-8348-a3facbbadb1b.png)

This could be used for primary and secondary color

[2021-03-24 05:34] deeptea22 commented on #121
@Swarnimashukla This is what i have come up with so far. Please let me know the required changes. Thank you :)
https://www.figma.com/file/HeGwdICyeIfZEarbu4tM5I/Roll-Call?node-id=0%3A1

[2021-03-24 15:21] Swarnimashukla commented on #2
@SpecTEviL  are you creating a pr for this issue?

[2021-03-24 17:44] aniketsingh98571 commented on #122
@Swarnimashukla I am little bit confused, should we have to code the frontend part? and I cannot find the wireframe for `feature page` in resources directory. Can you briefly explain this issue...

[2021-03-24 17:49] Swarnimashukla commented on #122
@aniketsingh98571  you can find this under resources folder in resource branch, and yes for this particular  issue front-end is needed

[2021-03-24 18:02] Swarnimashukla commented on #121
hey @deeptea22   I think both screens should be a single screen right? page hierarchy needs to be :

1. Features
2. Hardware
3. Software
4. USP

also please add details within these sections because we are creating UI so detailing matters a lot here , we are supposed to write everything all the sub-content that needs to be coded (including sentences, headings, subheadings)

[2021-03-25 05:24] deeptea22 commented on #121
Okay! I will make theses changes and send you the updated one. Thank you.

[2021-03-25 05:40] SpecTEviL commented on #2
Not really @Swarnimashukla  I've stopped working on it as I thought that you guys have finalized @Avnish5's design and I personally also liked it that's why.
If needed I can work on it. Do let me know about this.

Thanks!

[2021-03-25 06:06] Swarnimashukla commented on #2
Alright then we are closing this issue

[2021-03-25 06:07] #2 closed

[2021-03-25 06:08] #4 closed

[2021-03-25 10:40] Abhishekkr93 commented on #118
I would like to contribute as a Gssoc21 participant. could you please assign me this? @Swarnimashukla

[2021-03-26 03:51] #40 closed

[2021-03-26 06:35] shristi99 commented on #119
Please assign this issue to mee as I am the GSSOC'21 participant

[2021-03-26 07:49] ParthSingh0506 opened #127 "Using CNN for image classification"

[2021-03-26 07:59] ParthSingh0506 commented on #127
This is not a bug, I wanted to create a New folder as Image-Classification and add the image-classification file and read me file on that folder . So the aim is our model will able to classify girls and boys in a class . As it is a Attendance system so I thought to work upon that .

[2021-03-26 10:28] keshavga1209 commented on #122
I would like to try to code this page. **Please assign it to me**. I will be using React to code it.

[2021-03-26 11:56] deeptea22 commented on #121
Hey, I have made all the requested changes. Please have a look
1. at the design here : https://www.figma.com/file/HeGwdICyeIfZEarbu4tM5I/Roll-Call?node-id=0%3A1
2. at the prototype here : https://www.figma.com/proto/HeGwdICyeIfZEarbu4tM5I/Roll-Call?node-id=1%3A2&scaling=contain&page-id=0%3A1

Thank you :)

[2021-03-26 12:29] YMMSSH commented on #123
hi ,  I'm a Gssoc'21 Participant and I want to participate in this issue what should I do ?

[2021-03-26 14:25] YMMSSH commented on #123
@Swarnimashukla

@Swarnimashukla

[2021-03-26 14:50] muthuannamalai12 opened #128 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 14:51] muthuannamalai12 commented on #128
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-27 19:11] Swarnimashukla commented on #121
@deeptea22  this looks nice to me , please go for pr, just create it in resource branch with name " FeaturePage_UI_yourname" and make sure there is a single commit only

[2021-03-27 19:13] Swarnimashukla commented on #122
@keshavga1209  please look for issue #121  you can find the design in last comment , it will be added soon in resource branch as well

[2021-03-28 05:35] deeptea22 commented on #121
@Swarnimashukla I have created the PR #131. Please review it. Thank you :)

[2021-03-28 16:59] shwetaIAF commented on #107
![merge 1](https://user-images.githubusercontent.com/56163605/112760572-18d11280-9015-11eb-8ab0-056835c6dc6b.png)

[2021-03-28 17:06] shwetaIAF commented on #119
Please assign this issue to me also as I have good experience in UI designs and want to contribute as a GSSOC'21 participant.

[2021-03-29 09:46] anubhav201241 commented on #123
@Swarnimashukla  Please check this and merge it Face_EyeDetection #130
Thank you :)

[2021-03-29 17:37] #123 closed

[2021-03-29 18:20] Sapna2001 commented on #120
@Swarnimashukla can I work on this issue?

[2021-03-29 18:50] anubhav201241 commented on #123
Thank you mam for merging my PR :))

[2021-03-30 07:10] bhubesh757 commented on #119
@shwetaIAF Its Already Assigned , so i can do one favour , you both can work on this issue , i will ask to the mentor and i will remind you!

[2021-03-30 12:09] shwetaIAF commented on #119
Okay!
Thanks a lot.

On Tue, Mar 30, 2021, 12:41 PM BHUBESH SR ***@***.***> wrote:

[2021-03-30 16:58] #121 closed

[2021-03-31 14:29] muthuannamalai12 opened #135 "Bug in Issue Template"
The Issue Template does not show up when we create a Issue. I would love to work on this as a part of Girl Script Summer of Code and rectify it. Kindly assign it to me

[2021-03-31 16:49] #28 closed

[2021-04-01 04:26] shristi99 commented on #119
Hello @Swarnimashukla
I am working on UI Design please give me some more time and tell me what features I have to add to the landing page.

[2021-04-01 13:40] Dhanush2612 opened #137 "Face Recognition"
Python programs to capture a user's face and generate dataset. Then detect and recognize the user's face by using opencv.

[2021-04-01 17:27] Swarnimashukla commented on #137
This has been already implemented

[2021-04-01 17:27] #137 closed

[2021-04-02 13:53] pragati-kumar commented on #117
@Swarnimashukla  If this issue needs to be taken up as a priority then please consider assigning it to me. I am a GSSOC'21 participant.

[2021-04-02 14:01] Swarnimashukla commented on #118
@Abhishekkr93  what's the update regarding this task?

[2021-04-02 14:56] Abhishekkr93 commented on #118
@Swarnimashukla yes mam , I'm working on it but there is
my midsemm exam , so therefore delay in making pr. Can you please give me 2 days , I'll fix this.

[2021-04-02 15:12] Abhishekkr93 commented on #107
@Swarnimashukla Mam, which primary & secondary colour is final one? the finalized font is Georgia? I'm asking related to the footer issue. #118

[2021-04-02 16:31] pragati-kumar opened #138 "Setup and installation readme docs"
I would like to volunteer to add the setup and installation guide for the project.

[2021-04-02 17:26] Swarnimashukla commented on #107
@Abhishekkr93  yes we can go with georgia for font and finalized colors are mentioned by me in comment section above

[2021-04-02 17:33] Abhishekkr93 commented on #107
@Swarnimashukla okay mam, finalized colors are Astros navy or azure?

[2021-04-02 18:25] Swarnimashukla commented on #107
For footer I think you can use  #2b3033(footer bg) and #f5f5f5 (for text) because above colors would be for rest of the page footer needs to be a little subtle only

[2021-04-02 19:49] Abhishekkr93 commented on #107
Okay mam, got it. I'll do the same.

[2021-04-03 09:32] ParthSingh0506 commented on #127
I have created a PR kindly check it

[2021-04-03 17:16] shristi99 commented on #119
Here comes the UI design of the landing page
https://www.figma.com/file/uHZ6lSaik7dON973Hr6kHL/Rollcall-landing-page?node-id=0%3A1
Please let me know the required changes.
Thank You

[2021-04-03 17:21] shristi99 commented on #119
Here comes the UI design of the landing page
https://www.figma.com/file/uHZ6lSaik7dON973Hr6kHL/Rollcall-landing-page?node-id=0%3A1
Please let me know the required changes.
Thank You

[2021-04-03 23:25] Abhishekkr93 commented on #118
@Swarnimashukla hello mam, I am unable to find the codebase of the rollcall website, after that, I will fork, clone, add the code of the footer section.
please guide me!  thank you.

[2021-04-03 23:54] akshay1027 opened #140 "Links in readme to open in new tab"
Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

[2021-04-04 06:01] garvitraj commented on #119
@Swarnimashukla i would like to work on this issue please assign this issue to me
will be completing the design in 2 days

[2021-04-04 12:00] ParthSingh0506 commented on #127
@SKAUL05 kindly view the PR and merge it

[2021-04-04 12:13] Swarnimashukla commented on #119
@shristi99  this looks nice 👍  please go ahead with pr

[2021-04-04 12:14] Swarnimashukla commented on #119
hey for now this issue is completed  we can work on improvements later on

[2021-04-04 12:24] Swarnimashukla commented on #118
@Abhishekkr93  hey I have created a separate branch " Website" since there is no code for rollcall website as of now that's why you can't find any codebase , you may create your pr in "Website" branch keeping file name as "Rollcall_footer"

[2021-04-04 12:44] ParthSingh0506 commented on #127
@Swarnimashukla kindly check and merge the PR

[2021-04-04 12:51] Abhishekkr93 commented on #118
Okay Ma'am. Thanks for update. I'll do that. @Swarnimashukla

[2021-04-04 13:15] ParthSingh0506 commented on #127
@Swarnimashukla I have again created a PR as ParthSingh kindly check it and merge it .

[2021-04-05 11:49] pragati-kumar commented on #138
@Swarnimashukla Please assign this issue to me under GSSOC'21 if possible.

[2021-04-05 15:19] Swarnimashukla commented on #120
@Sapna2001  what's the update regarding code?

[2021-04-05 16:19] srishtij2000 commented on #119
Can I work on this issue?

[2021-04-05 17:04] #128 closed

[2021-04-06 06:06] sarasij190 opened #147 "Enhancement"
I want to add new features on it in which

1. the admin can calculate the total working hours or active hours of the employee which will show the total active hours and,
2. improve the UI of the system
Can I work on this??

[2021-04-06 06:19] sarasij190 commented on #147
Actually I want to add a feature call admin in which view employees working or active hours. It will be be extra feature to this project
I am currently working on the code .
I can proceed if you accept..can you proceed??

[2021-04-06 06:20] sarasij190 commented on #147
Can I procced??

[2021-04-06 07:29] shwetaIAF commented on #117
@Swarnimashukla I am a GSSOC participant and I want to work on this issue... can you please assign it to me too?

[2021-04-06 07:37] Swarnimashukla commented on #147
@sarasij190  could you explain a bit how is this related to rollcall ?

[2021-04-06 09:58] naqeeb2710 commented on #140
Hey, Can You Please assign me this issue?

[2021-04-06 10:09] ParthSingh0506 commented on #127
@Swarnimashukla please check the PR

[2021-04-06 10:36] Abhishekkr93 commented on #118
@Swarnimashukla  ma'am,
I have some queries;

Can you please provide me all the social media profile links, I have to add in the footer section! The T&C page is not ready yet, so I left them the blank link, after this page is ready, I will add the link to the T&C page.

[2021-04-06 11:43] Swarnimashukla commented on #118
For now keep everything blank only just include the icons in footer section for all social media links

[2021-04-06 11:44] Swarnimashukla commented on #5
@srishtij2000  are you still working on this issue?

[2021-04-06 11:48] Swarnimashukla commented on #122
@keshavga1209  what's the update regarding code ?

[2021-04-06 12:24] srisatya1197 opened #148 "Add contributors at the bottom of readme file"
I want to add contributors at the bottom of the file so that it look like this
ADD:
![sc](https://user-images.githubusercontent.com/78905067/113710268-1f404800-9701-11eb-8987-7499c0283fa5.png)

I want to work on this issue as GSSOC 21 participant @muthuannamalai12 @Swarnimashukla .

[2021-04-06 13:01] Abhishekkr93 commented on #118
okay, mam, everything is done as per your requirement. here is a screenshot. can I make PR now? @Swarnimashukla
![signal-2021-04-06-183043](https://user-images.githubusercontent.com/56020385/113714691-49e0cf80-9706-11eb-9b51-e6952158fd76.jpeg)

[2021-04-06 14:38] akshay1027 commented on #140
I found out that GitHub doesn't support this in .md file format! so am closing this issue @naqeeb2710 !

[2021-04-06 14:38] #140 closed

[2021-04-06 15:57] Swarnimashukla commented on #118
Ya please go for pr , just make sure you create pr in website branch and name it "RollCall_footer"  with single commit  @Abhishekkr93

[2021-04-06 16:24] garvitraj commented on #5
@Swarnimashukla pls assign this issue to me

[2021-04-06 17:25] Abhishekkr93 commented on #118
Okay mam!👍

[2021-04-06 18:34] Abhishekkr93 commented on #118
@Swarnimashukla done mam, have made PR #149 RollCall_footer. Kindly review and merge it.

[2021-04-07 12:34] simranbhalla3 commented on #118
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:34] simranbhalla3 commented on #117
I am a Gssoc participant , please assign me this issue.

[2021-04-07 16:26] Avnish5 commented on #122
@Swarnimashukla Kindly assign this task to me under GSSOC 2021.

[2021-04-07 16:26] Avnish5 commented on #120
@Swarnimashukla   Kindly assign this task to me under GSSOC 2021.

[2021-04-07 16:27] Avnish5 commented on #5
@Swarnimashukla Kindly assign this task to me under GSSOC 2021.

[2021-04-07 16:27] Avnish5 commented on #117
@Swarnimashukla Kindly assign this task to me under GSSOC 2021.

[2021-04-07 16:27] Avnish5 commented on #119
@Swarnimashukla Kindly assign this task to me under GSSOC 2021.

[2021-04-07 16:28] Avnish5 commented on #118
@Swarnimashukla Kindly assign this task to me under GSSOC 2021.

[2021-04-07 17:58] keshavga1209 commented on #122
@Swarnimashukla Sorry I was busy with college exams and projects. I will try to complete it by sunday.

[2021-04-08 14:20] Abhishekkr93 commented on #118
@Swarnimashukla  done mam, have made PR #155 Added Footer for Rollcall Website. Kindly review and merge it.

[2021-04-08 16:44] #138 closed

[2021-04-09 04:52] #135 closed

[2021-04-09 17:02] #119 closed

[2021-04-11 18:04] #127 closed

[2021-04-11 18:07] #118 closed

[2021-04-11 19:42] Sanskrutim17 opened #159 "IMPORT CV2"
## 📚 Documentation

(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/Swarnimashukla/Automatic-attendance-management-system/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-04-11 20:01] garvitraj commented on #5
@Swarnimashukla pls review the design and suggest what should i improve.
There will be more attractive illustrations in final design
Link for design :- https://www.figma.com/file/X3mDRxqRP5jiRHzELNLL6h/Untitled?node-id=0%3A1

[2021-04-12 06:13] Avnish5 commented on #120
@Swarnimashukla Thanku for assigning this task to me.

[2021-04-14 05:53] Swarnimashukla commented on #5
@garvitraj  this looks good you can go for pr as we are working on coding part of this issue and we can surely improve upon designs later on .

[2021-04-14 05:54] Swarnimashukla commented on #117
@pragati-kumar  what's the update on this issue?

[2021-04-14 10:33] garvitraj commented on #5
sure would too like to contribute on the frontend issue can you pls give the issue no so that i may start my contribution there too

[2021-04-15 13:31] khareyash05 opened #162 "update contributing.md"
## 📚 Documentation

I would like to update contributing.md by adding the following-
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

### Have you read the [Contributing Guidelines on Pull Reque

[2021-04-17 15:55] srisatya1197 opened #163 "I want to add no.of forks,issues,stars and other in readme file."
I want to add no.of forks , issues, stars in readme file .
Example:
![ss5](https://user-images.githubusercontent.com/78905067/115118932-724cb180-9fc3-11eb-98aa-de7a97582473.png)
I want to work on this . Please assign me this issue @muthuannamalai12 @Swarnimashukla .

[2021-04-19 10:39] anshika208 commented on #122
hey @Swarnimashukla if the issue is still pen and assignee hasnt done it may i workon the issue?

[2021-04-19 17:44] #147 closed

[2021-04-19 17:47] #162 closed

[2021-04-19 17:50] suyashgautam commented on #159
Hey @Sanskrutim17 Sorry for the late response, I wanted to know what is the issue that you are trying to solve. I am not able to understand properly.

[2021-04-19 17:51] suyashgautam commented on #148
Hey @srisatya1197 sure you can work on it.

[2021-04-21 07:24] srisatya1197 commented on #148
@suyashgautam Ok.

[2021-04-21 17:44] #148 closed

[2021-04-24 08:56] Srishti013 commented on #163
Can I be assigned for the issue if its not yet done @Swarnimashukla

[2021-04-24 09:24] srisatya1197 commented on #163
@Srishti013 Hello thanks for your interest the pr is ready.

[2021-04-30 12:36] Kavs-123 commented on #120
hey @Swarnimashukla  !
Can I work on this issue?

[2021-04-30 18:09] #163 closed

[2021-05-03 09:26] SKV-programmer commented on #5
@Swarnimashukla Kindly assign me this task.

[2021-05-03 21:47] naqeeb2710 commented on #117
if anyone is not working on it kindly assign it to me.
i would like to work on this

[2021-05-04 04:40] Swarnimashukla commented on #117
@shwetaIAF  what's the update on this task?

[2021-05-04 04:41] Swarnimashukla commented on #120
@Avnish5  what's the update on this task?

[2021-05-04 04:41] Swarnimashukla commented on #122
@anshika208  what's the update on this task?

[2021-05-04 08:59] shwetaIAF commented on #117
You can assign this task to another one!
Actually I am unable to manage time.

On Tue, May 4, 2021, 10:11 AM SWARNIMA SHUKLA ***@***.***>
wrote:

[2021-05-04 12:01] pragati-kumar commented on #117
I'm so sorry for the late response ma'am but my whole family has been tested covid positive and thus, I'm unable to contribute currently. My sincere apologies.

[2021-05-04 12:05] anshika208 commented on #122
Yes i m working on it .. was having some helath issues but from last 2 days i m wokring on it will create a pr surely by day after tomorrow.  A but of things are only left.

[2021-05-05 13:58] Swarnimashukla commented on #117
No issues @pragati-kumar, hope your family recovers soon.

[2021-05-05 13:59] Swarnimashukla commented on #117
@naqeeb2710  you can work on this task now, and @shwetaIAF  thanks for the clarification

[2021-05-05 14:01] Swarnimashukla commented on #122
Sure @anshika208  no issue please take your time and do take care of yourself 🙂👍

[2021-05-11 17:05] Subhangini commented on #117
Can I work on this issue @Swarnimashukla

[2021-05-13 17:52] Swarnimashukla commented on #117
@naqeeb2710  what's the update on the task?

[2021-05-13 20:21] harshita2319 commented on #5
Hey, I'm a GSSOC participant. I'd like to work on this issue.

[2021-05-13 20:36] harshita2319 commented on #117
If no one is working on this then I'm in!

[2021-05-17 00:21] subhangi2731 commented on #122
@Swarnimashukla can I please work on this

[2021-05-17 00:22] subhangi2731 commented on #120
@Swarnimashukla please assign this issue to me I will send a pr in 1 day

[2021-05-17 18:18] #5 closed

[2021-05-21 15:28] subhangi2731 commented on #122
@Swarnimashukla please assign me this issue I want to work on this

[2021-05-21 15:28] subhangi2731 commented on #120
@Swarnimashukla I request u please assign me this issue

[2021-05-24 15:32] KajalSinghBAGHEL opened #169 "Update README.md"
remove grammatical mistakes

[2021-05-24 15:32] KajalSinghBAGHEL commented on #169
I am a GSSOC participant. Please check my pull request

[2021-05-26 20:26] harshita2319 commented on #117
Hey , I can't figure out the folder for code in the github repo. Maybe the code for MERN stack has not been started. So should I create a file myself  since there's no index or app.js file?
Or am I missing out on something?

[2021-05-27 07:50] Swarnimashukla commented on #117
Yes you can create a file by youself there is no code as of now for website  @harshita2319

[2021-05-27 07:53] Swarnimashukla commented on #122
@anshika208 can you make the pr now, if done with coding?

[2021-05-29 07:32] #117 closed

[2021-05-30 10:40] Sukriti-sood opened #174 "New Github Bot Feature"
Github Bot Will COmment on Every PR Open and PR merged

[2021-05-31 05:48] #174 closed

[2021-05-31 06:00] #169 closed

[2021-08-09 08:51] Sin-Sumit commented on #107
As the navbar issue is closed but I have some suggestions regarding the NAVBAR.
1. There should be some space left from the left and right side, and put all the options in the center where the logo is likely on the left and other things on the right with space between them.
2.  And it will be good to have only the Signup option rather than both, so on clicking that button, it will either take to a

[2021-08-09 09:03] Sin-Sumit commented on #107
The UI theme is amazing from the navbar to the pricing section.

[2021-10-01 21:52] Mehul-Jaiswal commented on #107
1) Home, Register, Log in, Core Team, Head teachers, Services, scholarships, careers(hiring)
2) 1st subsection: Welcome to <xyz> Company and a brief introduction about the company and in the side a register with us box. Use the contrast colour to highlight. I would suggest Teal(#158FAD) and Light Blue(#96C3EB)
After that have a section about the professors in different subjects and a short descrip

[2021-10-03 19:04] aakashraj01 commented on #120
i would like to contribute plz assign me this

[2021-10-03 19:05] aakashraj01 commented on #122
@Swarnimashukla is this issue still open ? Can you assign me this issue .I want to work

[2021-11-12 17:33] Swarnimashukla opened #178 "Updating files for Rollcall"
## 📚 Documentation

Keeping files with descriptive names and removing redundant files

[2022-09-14 13:15] Rbcoder1 commented on #120
**I would like to fixed this issue. assign it to me**